.navbar-container {
    background: linear-gradient(135deg, #2C3E50, #34495E);
    color: var(--white);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.navbar-container .header-buttons {
    display: flex;
    gap: 1rem;
}

.navbar-container .header-buttons .button {
    
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
}

.navbar-container .header-buttons .button:hover {
    background: var(--white);
}